build:
  maxIssues: 0

config:
  validation: true
  warningsAsErrors: true

processors:
  active: true
  exclude:
    - 'DetektProgressListener'

console-reports:
  active: true
  exclude:
    - 'ProjectStatisticsReport'
    - 'ComplexityReport'
    - 'FindingsReport'
    - 'FileBasedFindingsReport'
    - 'LiteFindingsReport'

output-reports:
  active: true
  exclude:
    - 'TxtOutputReport'
    - 'MdOutputReport'
    - 'HtmlOutputReport'

comments:
  active: false

complexity:
  active: true

  TooManyFunctions:
    active: false

  CognitiveComplexMethod:
    active: true
    allowedComplexity: 20

  LongMethod:
    active: true
    allowedLines: 80

  CyclomaticComplexMethod:
    active: true
    allowedComplexity: 20

  NestedBlockDepth:
    active: true
    allowedDepth: 5

style:
  active: true

  MagicNumber:
    active: false

  WildcardImport:
    active: false

  MaxLineLength:
    active: false

naming:
  active: true

  FunctionNaming:
    active: true

  ClassNaming:
    active: true

performance:
  active: true
