build:
  maxIssues: 0

config:
  validation: true

processors:
  active: true

console-reports:
  active: true

output-reports:
  active: true

comments:
  active: true

complexity:
  active: true

  TooManyFunctions:
    active: false

  LongMethod:
    active: true
    threshold: 200

  CyclomaticComplexMethod:
    active: true
    threshold: 25

  NestedBlockDepth:
    active: true
    threshold: 6

style:
  active: true

  MagicNumber:
    active: false

  WildcardImport:
    active: false

  MaxLineLength:
    active: false

naming:
  active: true

  FunctionNaming:
    active: true

performance:
  active: true
