name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

# reusable-workflows
permissions:
  contents: read
  pages: write
  id-token: write
  actions: write
  issues: write

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-tests:
    name: Unit tests (SMOKE) [PR]
    if: ${{ github.event_name == 'pull_request' }}
    uses: ./.github/workflows/ci2_unit_tests.yml
    permissions:
      contents: read

  full-tests-coverage:
    name: FULL (no perf) + Kover + badge [master push]
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' && !contains(github.event.head_commit.message, '[skip ci]') }}
    uses: ./.github/workflows/ci5_full_tests_coverage_badge.yml
    permissions:
      contents: write
      pages: write
      id-token: write

  pitest-smoke-master:
    name: PITEST (SMOKE) [master push]
    needs:
      - full-tests-coverage
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' && !contains(github.event.head_commit.message, '[skip ci]') }}
    uses: ./.github/workflows/ci3_pitest.yml
    permissions:
      contents: read

  docs:
    name: Dokka HTML [master push]
    needs:
      - full-tests-coverage
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' && !contains(github.event.head_commit.message, '[skip ci]') }}
    uses: ./.github/workflows/ci1_docs.yml
    permissions:
      contents: read

  detekt:
    name: Detekt [master push/dispatch]
    if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/master' && !contains(github.event.head_commit.message, '[skip ci]')) || github.event_name == 'workflow_dispatch' }}
    uses: ./.github/workflows/ci6_detekt.yml
    permissions:
      contents: read

  build-standalone-jar-master:
    name: Build standalone fat jar [master push]
    needs:
      - full-tests-coverage
      - pitest-smoke-master
      - docs
      - detekt
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' && !contains(github.event.head_commit.message, '[skip ci]') }}
    uses: ./.github/workflows/ci7_build_artifact.yml
    permissions:
      contents: read
      actions: write

  release:
    name: GitHub Release [master push]
    needs:
      - build-standalone-jar-master
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' && !contains(github.event.head_commit.message, '[skip ci]') }}
    uses: ./.github/workflows/ci9_release.yml
    permissions:
      contents: write
    with:
      artifact_name: ${{ needs.build-standalone-jar-master.outputs.artifact_jar_name }}
      version: ${{ needs.build-standalone-jar-master.outputs.version }}
      tag_prefix: build
      prerelease: false

  build-standalone-jar-dispatch:
    name: Build standalone fat jar [workflow_dispatch]
    needs:
      - detekt
    if: ${{ github.event_name == 'workflow_dispatch' }}
    uses: ./.github/workflows/ci7_build_artifact.yml
    permissions:
      contents: read
      actions: write

  nightly-full-and-quarantine:
    name: Nightly: PITEST ALL + perf + quarantine [schedule]
    if: ${{ github.event_name == 'schedule' }}
    uses: ./.github/workflows/ci8_nightly_full_quarantine.yml
    permissions:
      contents: read
      issues: write
