# FILE: .github/workflows/ci2_unit_tests.yml
name: CI module - Unit tests (SMOKE)

'on':
  workflow_call:

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Run SMOKE tests (PR) [GATE]
        run: ./gradlew :core-test:smokeTest
